.site-header {
    background-color: transparent;
    box-shadow: 0px 0px 24px 0px rgb(0 0 0 / 15%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.site-header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999999;
}
.site-header.none-shadow {
    box-shadow: unset;
}
body:not(.home, .scrolling) .site-header {
    background-color: #fff;
}
body.scrolling .site-header {
    background-color: rgb(255 255 255 / 80%);
    color: #fff;
}



.site-header #mega-menu-wrap-header-menu .mega-context {
    color: #000!important;
}
.site-header #mega-menu-wrap-header-menu #mega-menu-header-menu > li {
    padding: 0 24px;
}
.site-header .header-contain.sticky #mega-menu-wrap-header-menu #mega-menu-header-menu > li {
    padding: 0 15px;
}
.site-header .header-contain.sticky #mega-menu-wrap-header-menu #mega-menu-header-menu {
    text-align: right;
}
.site-header #mega-menu-wrap-header-menu #mega-menu-header-menu > li:first-child {
    padding-left: 0;
}
.site-header #mega-menu-wrap-header-menu #mega-menu-header-menu > li:last-child {
    padding-right: 0;
}
.site-header #mega-menu-wrap-header-menu #mega-menu-header-menu > li > a {
    font-size: 15px!important;
    font-weight: 600!important;
}
.site-header #mega-menu-wrap-header-menu #mega-menu-header-menu > li > a::before {
    content: '';
    display: block !important;
    height: 4px !important;
    width: 100% !important; 
    background-color: #fff !important;
    border-radius: 6px;
    position: absolute !important;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.site-header .header-contain.sticky #mega-menu-wrap-header-menu #mega-menu-header-menu > li > a {
    color: #000;
}
.site-header #mega-menu-wrap-header-menu #mega-menu-header-menu > li ul.mega-sub-menu {
    pointer-events: none !important;
    visibility: hidden !important;
}
.site-header #mega-menu-wrap-header-menu #mega-menu-header-menu > li:hover ul.mega-sub-menu {
    pointer-events: auto !important;
    visibility: visible !important;
}

.site-header #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu:hover > ul.mega-sub-menu {
    z-index: 9999999!important;
}
.site-header #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu {
    top: 50px;
    visibility: hidden!important;
    overflow: hidden;
}
.site-header #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu:hover > ul.mega-sub-menu {
    visibility: visible!important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu {
    height: 100% !important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li {
    position: absolute !important;
    left: 202px !important;
    height: 100% !important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li > a.mega-menu-link {
    height: 40px !important;
    width: 202px !important;
    font-size: 15px !important;
    line-height: 20px !important;
    font-weight: 700 !important;
    text-transform: capitalize !important;
    color: #000!important;
    padding: 0 20px !important;
    left: -202px !important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li:nth-child(1) > a.mega-menu-link {
    top: 50px!important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li:nth-child(2) > a.mega-menu-link {
    top: 140px!important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li:nth-child(3) > a.mega-menu-link {
    top: 220px!important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li:nth-child(4) > a.mega-menu-link {
    top: 300px!important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li > a.mega-menu-link:hover {
    color: var(--primary-btn-color)!important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li > a.mega-menu-link::after,
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li > a.mega-menu-link::before {
    content: '';
    width: 50px!important;
    height: 50px!important;
    margin: 0 !important;
    position: absolute!important;
    right: -60px;
    top: -20px!important;
    z-index: 3;
    border-radius: 50%;
    opacity: 0!important;
    visibility: hidden!important;
    transition: none!important;
    background-color: #fff!important;
    box-shadow: 12px 0px 14px -10px #736a6a;
    border: 1px solid #f7f7f7;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li.mega-menu-item-has-children > a.mega-menu-link::after {
    content: '\f344';
    display: flex!important;
    align-items: center;
    justify-content: center;
    font-family: dashicons;
    color: var(--primary-btn-color);
    font-size: 18px !important;
    line-height: 1 !important;
}
.site-header #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li > ul.mega-sub-menu {
    display: grid;
    grid-template-columns: 300px auto;
}
.site-header #mega-menu-wrap-header-menu .mega-introimage,
.site-header #mega-menu-wrap-header-menu .mega-context {
    width: 100% !important;
}
.site-header #mega-menu-wrap-header-menu .mega-context {
    margin-left: 10px;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li > ul.mega-sub-menu {
    opacity: 0!important;
    visibility: hidden!important;
    height: 100% !important;
    width: calc(100% - 202px) !important;
    position: absolute !important;
    top: 0 !important;
    background-color: #fff !important;
    display: grid !important;
    grid-template-columns: repeat(2, 50%);
    padding: 50px 50px 50px 90px!important;
    z-index: 3;
    transition: none!important;
}
.site-header #mega-menu-wrap-header-menu .mega-toggle-on .mega-context > ul.mega-sub-menu > li.mega-menu-item-has-children:hover > a.mega-menu-link::after,
.site-header #mega-menu-wrap-header-menu .mega-toggle-on .mega-context > ul.mega-sub-menu > li.mega-menu-item-has-children:hover > a.mega-menu-link::before,
.site-header #mega-menu-wrap-header-menu .mega-toggle-on .mega-context > ul.mega-sub-menu > li:first-child > ul.mega-sub-menu,
.site-header #mega-menu-wrap-header-menu .mega-toggle-on .mega-context > ul.mega-sub-menu > li:first-child > a.mega-menu-link::before,
.site-header #mega-menu-wrap-header-menu .mega-toggle-on .mega-context > ul.mega-sub-menu > li:first-child > a.mega-menu-link::after,
.site-header #mega-menu-wrap-header-menu .mega-toggle-on .mega-context > ul.mega-sub-menu > li > ul.mega-sub-menu:hover,
.site-header #mega-menu-wrap-header-menu .mega-toggle-on .mega-context > ul.mega-sub-menu > li > a.mega-menu-link:hover + ul.mega-sub-menu {
    opacity: 1 !important;
    visibility: visible !important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li:first-child > ul.mega-sub-menu {
    z-index: 2;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li:nth-child(n + 2):not(.active) > ul {
    display: none!important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li.active > a.mega-menu-link::before,
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li.active > a.mega-menu-link::after {
    z-index: 10000!important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li.active > ul.mega-sub-menu {
    z-index: 999!important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li > ul.mega-sub-menu::before {
    content: '';
    display: block !important;
    pointer-events: none;
    position: absolute;
    left: 35px;
    width: 1px;
    height: 100%;
    background-color: #f3f3f3;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li:hover {
    z-index: 3;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li > ul.mega-sub-menu:hover,
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li > a.mega-menu-link:hover + ul.mega-sub-menu {
    z-index: 2;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li > ul.mega-sub-menu > li > a.mega-menu-link {
    margin-bottom: 20px!important;
    font-size: 18px!important;
    line-height: 21px!important;
    font-weight: 600!important;
    color: #000 !important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li > ul.mega-sub-menu > li > ul.mega-sub-menu {
    margin-left: 0!important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li > ul.mega-sub-menu > li > ul.mega-sub-menu li:not(:last-child) {
    margin-bottom: 20px!important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li > ul.mega-sub-menu > li > ul.mega-sub-menu a {
    font-size: 15px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    color: #706f6f !important;
}
.site-header #mega-menu-wrap-header-menu .mega-context > ul.mega-sub-menu > li > ul.mega-sub-menu > li > ul.mega-sub-menu a:hover {
    text-decoration: underline;
}



.site-header .header-contain .wrapper {
    grid-template-columns: 300px auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    height: 100px;
    width: auto;
}
.site-header .header-outfit .wrapper,
.site-header .header-info .wrapper,
.site-header .header-contain .wrapper {
    display: grid;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.site-header .header-contain .wrapper > * {
    padding-left: 15px;
    padding-right: 15px;
}
.site-header .header-contain.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999999999;
    transform: translateY(-100%);
    opacity: 0;
    box-shadow: 0 1rem 2rem #cccccc75;
    transition: all .5s ease;
}
body.scrolling .site-header .header-contain.sticky {
    transform: translateY(0);
    opacity: 1;
}
.site-header .logo-block img {
    width: 100%;
    max-width: 220px;
    height: 100%;
    max-height: 95px;
    object-fit: contain;
    object-position: left;
    text-align: center;
    display: block;
}
body.scrolling .site-header .logo-block img {
    max-height: 80px;
}
.site-header .logo-block .custom-logo,
body.scrolling .logo-block .custom-second-logo,
body.scrolling .site-header .logo-block.no-second-logo .custom-logo {
    display: block;
    height: 100%;
}
body.scrolling .site-header .logo-block .custom-logo,
.site-header .logo-block .custom-second-logo,
body.scrolling .site-header .logo-block.no-second-logo .custom-second-logo {
    /* display: none; */
}
.site-header .header-contain .wrapper .logo-block {
    display: grid;
    grid-template-columns: 135px auto;
    padding-left: 0;
}
.site-header .header-contain.sticky .wrapper .logo-block {
    grid-template-columns: unset;
}
.site-header .header-contain.sticky .wrapper .logo-block {
    position: absolute;
}
.site-header .header-contain .wrapper .logo-block .tagline {
    margin-left: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    display: none;
}
.site-header .header-contain .wrapper .nav-block {
    padding-right: 0;
}
.site-header .site-navigation ul.menu > li {
    float: left;
    margin-right: 2px;
}
.site-header .site-navigation ul.menu li a {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    color: #000;
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.site-header .header-contain.sticky .site-navigation ul.menu li a {
    font-size: 13px;
}
body.scrolling .site-header .site-navigation ul.menu li.current-menu-item a,
body.scrolling .site-header .site-navigation ul.menu li a:hover {
    color: var(--main-color-theme);
}
body:not(.single) .site-header .site-navigation ul.menu li.current-menu-parent a,
.site-header .site-navigation ul.menu li ul.sub-menu li.current-menu-item a,
.site-header .site-navigation ul.menu li ul.sub-menu li a:hover,
body.scrolling .site-header .site-navigation ul.menu li ul.sub-menu li.current-menu-item a,
body.scrolling .site-header .site-navigation ul.menu li ul.sub-menu li a:hover {
    color: #fff;
    background-color: var(--main-color-theme);
}
body.scrolling .site-header .site-navigation ul.menu li a,
body.scrolling .site-header .site-navigation ul.menu li ul.sub-menu a {
    color: #000;
}
.site-header .site-navigation ul.menu li.menu-item-has-children > a::after {
    content: '\f0d7';
    font-family: "Font Awesome 5 Pro";
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    margin-left: 5px;
}
.site-header .site-navigation ul.menu li ul.sub-menu {
    position: absolute;
    left: -30px;
    top: 100%;
    width: 230px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all .1s ease;
    padding: 0px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
.site-header .site-navigation ul.menu li:hover ul.sub-menu,
.site-header .site-navigation ul.menu li ul.sub-menu:hover {
    visibility: visible;
    opacity: 1;
    left: 0px;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.site-header .site-navigation ul.menu li ul.sub-menu li {
    width: 100%;
}
.site-header .site-navigation ul.menu li ul.sub-menu li a {
    padding: 10px 18px;
    line-height: 24px;
    font-size: 14px;
    display: block;
    color: #222;
    height: unset;
}
.site-header .site-navigation ul.menu li ul.sub-menu li:not(:last-child) a {
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.site-header .site-cart-toggle,
.site-header .site-navigation-toggle {
    display: none;
}
.site-header .header-contain .wrapper .nav-block .site-navigation .site-navigation-wrapper {
    justify-content: flex-end;
}
.site-header .header-contain .wrapper .nav-block .site-navigation .site-navigation-wrapper,
.site-header .header-contain .wrapper .nav-block .site-navigation .site-navigation-wrapper .nav-order {
    display: flex;
    align-items: center;
    gap: 10px;
}

.site-header .header-contain .wrapper .nav-block .nav-order .nav-action {
    display: flex;
}

/* cart-woo */
.site-header .header-contain .wrapper .cart-block .cart-toggle {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper {
    position: absolute;
    top: 55px;
    left: -260px;
    width: 300px;
    background-color: #fff;
    color: #000;
    z-index: 997;
    box-shadow: 0px 2px 16px -10px rgb(0 0 0 / 75%);
    display: none;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper.opened  {
    display: block;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper p.woocommerce-mini-cart__empty-message {
    padding: 15px;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper ul.woocommerce-mini-cart {
    padding: 20px 20px 10px;
    height: 190px;
    overflow-y: auto;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper ul.woocommerce-mini-cart li {
    padding-right: 25px;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper ul.woocommerce-mini-cart li:not(:last-child) {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper ul.woocommerce-mini-cart li > a.remove {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    border: 0;
    color: red!important;
    display: block;
    font-weight: 700;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper ul.woocommerce-mini-cart li > a.remove:hover {
    color: #fff!important;
    background: red;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper ul.woocommerce-mini-cart li > a:not(.remove) {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    padding-right: 55px;
    height: 55px;
    margin-bottom: 5px;
    color: #0d5b50;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper ul.woocommerce-mini-cart li > a:not(.remove) img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper ul.woocommerce-mini-cart li .quantity {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.3;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper p.woocommerce-mini-cart__total {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #eee;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper p.woocommerce-mini-cart__total strong {
    color: #005448;
    font-weight: 500;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper p.woocommerce-mini-cart__buttons {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}
.site-header .header-contain .wrapper .cart-block .cart-wrapper p.woocommerce-mini-cart__buttons a {
    border-radius: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    background-color: #005448;
    color: #fff;
    padding: 7.5px 5px;
}
/* end: cart-woo */

/* search-form */
.site-header .header-contain .wrapper .search-action-block .searchform-action {
    color: #fff;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    width: 75px;
    text-align: center;
    display: block;
}
.site-header .header-contain .wrapper .search-action-block > .searchform-action::after,
.site-header .header-contain .wrapper .search-action-block > .searchform-action[data-status="false"]::after {
    content: '\f002';
    font-family: "Font Awesome 5 Pro";
}
.site-header .header-contain .wrapper .search-action-block > .searchform-action[data-status="true"]::after {
    content: '\f00d';
}
.site-header .header-contain .wrapper .search-action-block .searchform-wrapper {
	z-index: 2;
	transform: translateY(-100%);
    transition: all 1500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
    transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
}
.site-header .header-contain .wrapper .search-action-block.opened .searchform-wrapper {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.site-header .header-contain .wrapper .search-action-block[role="dropdown"] .searchform-wrapper {
    width: 350px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    position: absolute;
    left: calc(100% - 350px);
    top: calc(100% + 30px);
    border-top: 5px solid var(--main-color-theme);
}
.site-header .header-contain .wrapper .search-action-block[role="sidebar"] .searchform-wrapper {
    position: fixed;
	left: 0;
	top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.90);
}
.site-header .header-contain .wrapper .search-action-block[role="sidebar"] .searchform-wrapper .searchform-action {
    border-radius: 50%;
    margin-bottom: 30px;
    background-color: var(--main-color-theme);
    color: #fff;
    width: 70px;
    height: 70px;
    font-size: 36px;
    line-height: 70px;
    text-align: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    border: 3px solid #fff;
    transform: translateY(100vh);
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
}
.site-header .header-contain .wrapper .search-action-block[role="sidebar"].opened .searchform-wrapper .searchform-action {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.5s;
}
.site-header .header-contain .wrapper .search-action-block .searchform-wrapper form.search-form {
    width: 100%;
    max-width: 700px;
    height: 70px;
}
.site-header .header-contain .wrapper .search-action-block[role="dropdown"] .searchform-wrapper form.search-form {
    max-width: calc(100% - 20px);
    margin: 10px;
    border: 1px solid #eee;
    height: 54px;
}
.site-header .header-contain .wrapper .search-action-block .searchform-wrapper form.search-form .search-field,
.site-header .header-contain .wrapper .search-action-block .searchform-wrapper form.search-form .search-submit {
    border-radius: 0;
    color: #000;
    background-color: #fff;
}
.site-header .header-contain .wrapper .search-action-block .searchform-wrapper form.search-form .search-field {
    font-size: 20px;
}
.site-header .header-contain .wrapper .search-action-block[role="dropdown"] .searchform-wrapper form.search-form .search-field {
    font-size: 15px;
}
.site-header .header-contain .wrapper .search-action-block .searchform-wrapper form.search-form .search-submit {
    background-color: #fff;
    font-size: 24px;
    font-weight: 400;
    width: 70px;
}
.site-header .header-contain .wrapper .search-action-block[role="dropdown"] .searchform-wrapper form.search-form .search-submit {
    font-size: 18px;
}

.site-header .header-contain .wrapper .search-block form.search-form {
    width: 75px;
    justify-content: center;
}
.site-header .header-contain .wrapper .search-block form.search-form .search-field {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    border-radius: 20px;
    transition: all .3s;
}
.site-header .header-contain .wrapper .search-block form.search-form:hover .search-field {
    width: 175px;
    left: -145px;
    opacity: 1;
}
.site-header .header-contain .wrapper .search-block form.search-form .search-submit {
    border-radius: 20px;
    background-color: transparent;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}
.site-header .header-contain .wrapper .search-block form.search-form:hover .search-submit,
.site-header .header-contain .wrapper .search-block form.search-form .search-submit:hover {
    color: #fff;
}
/* end: search-form */

/* call-number */
.site-header .header-contain .wrapper .call-number {
    display: block;
    margin-left: 20px;
    height: 100px;
}
.site-header .header-contain .wrapper .call-number > div {
    color: #fff;
    background-color: var(--main-color-theme);
    padding: 0 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.site-header .header-contain .wrapper .call-number > div::after {
    content: '';
    background-color: var(--main-color-theme);
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    bottom: -10px;
}
.site-header .header-contain .wrapper .call-number .icon {
    font-size: 32px;
    margin-right: 10px;
}
.site-header .header-contain .wrapper .call-number .info {
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
}
.site-header .header-contain .wrapper .call-number a {
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}
.site-header .header-contain .wrapper .call-number a:hover {
    text-decoration: underline;
}
.site-header form.search-form .search-field {
    padding-left: 12.5px;
    padding-right: 12.5px;
}


.site-header .site-navigation .site-navigation-toggle .icon-nav.open,
.site-header .site-navigation .site-navigation-toggle .icon-nav.close {
    font-family: 'Font Awesome 5 pro';
}

/* end: call-number */
@media only screen and (max-width: 1599px) {
    .site-header .site-navigation ul.menu > li {
        margin: 0 15px;
    }
    .site-header .site-navigation ul.menu > li::before {
        left: -15px;
    }
    .site-header .site-navigation ul.menu > li:last-child::after {
        right: -15px;
    }
}
@media only screen and (max-width: 1399px) {
    .site-header .header-contain .wrapper {
        grid-template-columns: 150px auto;
    }
    .site-header .header-contain .wrapper .logo-block {
        grid-template-columns: unset;
    }
    .site-header .header-contain .wrapper .logo-block .tagline {
        display: none;
    }
    .site-header .header-contain .wrapper .call-number > div {
        padding: 0 20px;
    }
    .site-header .header-contain .wrapper .call-number a {
        font-size: 18px;
    }
    .site-header .header-contain .wrapper .nav-block {
        padding-right: 15px;
    }
}
@media only screen and (max-width: 1200px) {
    .site-header .header-contain .wrapper .call-number {
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    .site-header .header-contain .wrapper {
        width: 100%;
        padding-left: 10px;
    }
    .site-header .header-contain .wrapper .nav-block {
        padding-right: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .site-header .logo-block .custom-second-logo {
        display: inline-block;
    }
    .site-header .header-contain .wrapper {
        grid-template-columns: unset;
        grid-row-gap: 20px;
        padding-left: 15px;
    }
    .site-header .header-contain .wrapper .logo-block {
        display: inline-flex;
        justify-content: center;
        margin-top: 2.5px;
    }
    .site-header .site-navigation ul.menu li.current-menu-item::before,
    .site-header .site-navigation ul.menu li.current-menu-parent::before {
        height: 100%;
    }
    .site-header .site-navigation ul.menu li.menu-item-has-children > a::after {
        position: absolute;
        top: calc(50% - 8px);
        right: 5px;
        color: #fff;
        padding: 0 10px;
        font-weight: 800;
    }
    .site-header .site-navigation ul.menu li::before {
        content: '';
        width: 5px;
        height: 0;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 0;
        background-color: #fff;
        transition: all .3s;
    }
    body.scrolling .site-header .logo-block .custom-logo {
        display: block;
    }
    .site-header .header-contain.header-bottom .search-form {
        display: flex;
    }
    .site-header .site-navigation ul.menu li.menu-item-has-children {
        flex-direction: column;
    }
    .site-header .site-navigation ul.menu li ul.sub-menu {
        opacity: 1;
        padding: 0;
        top: 0;
        left: 0;
        width: 100%;
        position: relative;
        box-shadow: unset;
        border-top: unset;
        visibility: visible;
        transform: rotateX(0);
        background-color: transparent;
    }
    .site-header .site-navigation ul.menu li ul.sub-menu li a {
        padding: 5px 15px 5px 30px;
        color: #fff!important;
        line-height: 40px;
    }
    .site-header .header-contain .wrapper {
        grid-row-gap: 0;
    }
    .site-header .site-navigation {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 999999999;
        max-height: 100vh;
        width: 100%;
        max-width: 100vw;
        background-color: rgba(0,0,0,.5);
        transform: translateX(100%);
        transition: all .5s;
    }
    .site-header .site-navigation.opened {
        transform: translateX(0);
    }
    .site-header .header-contain .wrapper .nav-block .site-navigation .site-navigation-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 100%;
        max-width: 320px;
        height: calc(100% - 72.5px);
        overflow-y: auto;
    }
    .site-header .site-navigation .site-navigation-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        display: block;
        background-color: #202020;
        padding: 70px 0 20px;
        box-shadow: -5px 0 15px -5px #333;
        overflow: auto;
        transform: translateX(100%);
        transition: all .7s;
    }
    .site-header .site-navigation.opened .site-navigation-wrapper {
        transform: translateX(0);
    }
    .site-header .site-navigation .site-navigation-wrapper .nav-menu {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .site-header .site-navigation .site-navigation-wrapper .nav-menu,
    .site-header .site-navigation[role="menu"] .site-navigation-wrapper .nav-menu,
    .site-header .site-navigation[role="cart"] .site-navigation-wrapper .nav-action,
    .site-header .site-navigation[role="cart"] .site-navigation-wrapper .nav-action .cart-block .cart-wrapper {
        display: block;
        width: 100%;
    }
    .site-header .site-navigation .site-navigation-wrapper .nav-action,
    .site-header .site-navigation[role="menu"] .site-navigation-wrapper .nav-action,
    .site-header .site-navigation[role="cart"] .site-navigation-wrapper .nav-menu,
    .site-header .site-navigation[role="cart"] .site-navigation-wrapper .search-block,
    .site-header .header-contain .wrapper .cart-block .cart-toggle {
        display: none;
    }
    .site-header .site-navigation[role="cart"] .site-navigation-wrapper .nav-action .cart-block .cart-wrapper {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
    }
    .site-header .site-navigation[role="cart"] .site-navigation-wrapper .nav-action .cart-block .cart-wrapper ul.woocommerce-mini-cart {
        height: calc(100vh - 180px);
    }
    .site-header .header-contain .wrapper .site-navigation .search-block form.search-form,
    .site-header .header-contain .wrapper .site-navigation[role="menu"] .search-block form.search-form {
        width: 100%;
    }
    .site-header .header-contain .wrapper .site-navigation .search-block form.search-form .search-field,
    .site-header .header-contain .wrapper .site-navigation[role="menu"] .search-block form.search-form .search-field {
        width: 225px;
        left: unset;
        opacity: 1;
        position: relative;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .site-header .site-navigation ul.menu {
        align-items: flex-start;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100vh - 150px);
    }
    .site-header .site-navigation ul.menu li {
        width: 100%;
        float: unset;
        margin-left: 0;
        margin-right: 0;
        border-top: 1px solid rgba(255,255,255,.1);
    }
    .site-header .site-navigation ul.menu li a {
        color: #fff;
        text-align: left;
        padding: 5px 15px;
        line-height: 30px;
        font-size: 15px;
        display: block;
        height: auto;
        font-weight: 300;
    }
    .site-header .site-navigation ul.menu li.current-menu-item a {
        Color: #598CAF!important;
        font-weight: 600;
    }
    body.scrolling .site-header .site-navigation ul.menu li a {
        color: #fff;
    }
    .site-header .header-contain .wrapper .site-navigation.opened .search-block form.search-form .search-submit {
        background-color: #eceeef;
        color: #000;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .site-header .site-navigation .site-navigation-toggle,
    .site-header .site-navigation .site-cart-toggle {
        color: #000;
        font-size: 30px;
        transform: translateX(-100%);
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: top .2s, right .5s, color .7s;
        transition-delay: .075s;
        width: 40px;
        height: 40px;
        top: 10px;
    }
    .site-header .site-navigation.opened .site-navigation-toggle,
    .site-header .site-navigation.opened .site-cart-toggle {
        color: #fff;
    }
    .site-header .site-navigation .site-cart-toggle {
        left: -55px;
    }
    .site-header .site-navigation .site-navigation-toggle {
        right: 10px;
    }
    .site-header .site-navigation.opened .site-navigation-toggle {
        right: unset;
        left: calc(100% - 10px);
    }
    .site-header .site-navigation.opened .site-cart-toggle .icon-nav.open,
    .site-header .site-navigation .site-cart-toggle .icon-nav.close,
    .site-header .site-navigation.opened .site-navigation-toggle .icon-nav.open,
    .site-header .site-navigation .site-navigation-toggle .icon-nav.close {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
    .site-header .site-navigation .site-cart-toggle .icon-nav.open,
    .site-header .site-navigation.opened .site-cart-toggle .icon-nav.close,
    .site-header .site-navigation .site-navigation-toggle .icon-nav.open,
    .site-header .site-navigation.opened .site-navigation-toggle .icon-nav.close {
        opacity: 1;
        z-index: 1;
    }
    .site-header .site-navigation .site-cart-toggle i,
    .site-header .site-navigation .site-navigation-toggle i {
        font-weight: 400;
    }
}