.change_password-item {
    width: 100%;
    max-width: 970px;
    padding: 30px;
    background-color: #fff;
    box-sizing: border-box;
}
.profiletitle {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #3f4048;
    margin-bottom: 30px;
}
.section-wrapper .edit_profile-action {
    border: 2px solid var(--primary-btn-color);
    color: var(--primary-btn-color);
    text-align: center;
    padding: 16px 20px 15px;
    background-color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    width: 150px;
    margin-top: 30px;
    cursor: pointer;
}
.section-info .info-item {
    border-bottom: 1px solid #e3e5ea;
    padding-bottom: 16px;
    max-width: 400px;
    color: #3f4048;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.section-info .info-item h5 {
    font-size: 16px;
    font-weight: 500;
    margin: 14px 0 5px;
}
.section-info .info-item span {
    letter-spacing: 0.15px;
}
.section-wrapper.editing .section-info,
.section-wrapper .section-update {
    display: none;
}
.section-wrapper .section-info,
.section-wrapper.editing .section-update {
    display: block;
}

.change_password-form {
    width: 100%;
    max-width: 380px;
}
.change_password-form .col-field:not(:last-child) {
    margin-bottom: 30px;
}
.change_password-form .col-field label {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #3f4048;
    display: block;
    margin-bottom: 7px;
}
.change_password-form .col-field:not(.submit) input {
    width: 100%;
    height: 57px;
    border-radius: 2px;
    border: 1px solid #706f6f;
    padding: 0 44px 0 16px;
    font-size: 16px;
    color: #3f4048;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
}
.change_password-form .col-field input[type="submit"] {
    border: 2px solid var(--primary-btn-color);
    background-color: var(--primary-btn-color);
    color: #fff;
    text-align: center;
    padding: 16px 20px 15px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    width: 180px;
    margin-right: 10px;
    cursor: pointer;
}
.change_password-form .col-field input[type="reset"] {
    margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
    .profiletitle {
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}