.site-footer {
    display: none;
}
.main-contain.jobpost .sjb-page .clearfix,
.main-contain.jobpost .sjb-page .clearfix::before,
.main-contain.jobpost .sjb-page .clearfix::after {
    display: none;
}
.main-contain.jobpost[role="apply_job"] .banner-joblist > .wrapper {
    padding: 50px 10px 20px;
}
.main-contain.jobpost .sjb-page {
    display: inline-block;
    width: 100%;
}
.main-contain.jobpost .sjb-page,
.main-contain.jobpost .sjb-page .list-data > div {
    background-color: transparent;
}

#jobapply_info .info-head h4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;
    color: #3f4048;
    margin-bottom: 50px;
    margin-top: 10px;
}
#jobapply_info .info-head .back {
    font-weight: 700;
    color: #706f6f;
}
#jobapply_info .info-head .back,
#jobapply_info .info-head .back:hover {
    background-color: transparent;
}
#jobapply_info .info-head .back::before {
    content: '';
    background-image: url(../../img/ico-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 14px;
    height: 14px;
    transform: rotate(90deg);
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
}
#jobapply_info .jobapply_info-item {
    display: none;
}
#jobapply_info .jobapply_info-item.active {
    display: block;
}
#jobapply_info .jobapply_info-toggles label {
    display: block;
    width: 100%;
    max-width: 370px;
    border: 1px solid #9b9b9b;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.1);
    font-weight: 500;
    font-size: 15px;
    padding: 24px 19px 22px 16px;
    background: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 4px;
    box-sizing: border-box;
}
#jobapply_info .jobapply_info-toggles label::before {
    content: '';
    font-family: "Font Awesome 5 Pro";
}
#jobapply_info .jobapply_info-toggles label::before {
    border: 1px solid #9b9b9b;
    margin-right: 15px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
}
#jobapply_info .jobapply_info-toggles input:checked + label::before {
    content: '\f00c';
    color: #fff;
    background-color: #44b480;
    border-color: #44b480;
}
#jobapply_info .jobapply_info-toggles label i {
    position: absolute;
    top: 18px;
    right: 19px;
    width: 30px;
    height: 30px;
    font-size: 24px;
    line-height: 1;
}
#jobapply_info .jobapply_info-toggles label[for="jobapply_info_toggle-linkedin"] i {
    font-size: 36px;
    color: #0d65c2;
}
#jobapply_info .jobapply_info-toggles input:checked + label {
    box-shadow: inset 0 0 0 2px #44b480;
    border-color: #44b480;
}
#jobapply_info .jobapply_info-action {
    background-color: var(--primary-btn-color);
    color: #fff;
    padding: 16px 0 15px 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    max-width: 270px;
    border: none;
    outline: none;
}
#jobapply_info .jobapply_info-action:hover {
    background-color: var(--second-btn-color);
}