form.wpcf7-form  {
    display: flex;
    flex-wrap: wrap;
}
form.wpcf7-form  > div {
    width: 100%;
    margin-bottom: 10px;
}
form.wpcf7-form  > div.width-50 {
    width: 50%;
}
form.wpcf7-form .wpcf7[role="form"] {
    margin: 40px -10px 0;
}
form.wpcf7-form .wpcf7-form-control-wrap {
    display: flex;
    flex-flow: wrap;
    padding-left: 10px;
    padding-right: 10px;
}
form.wpcf7-form .wpcf7-form-control-wrap input,
form.wpcf7-form .wpcf7-form-control-wrap textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    color: #757575;
}
form.wpcf7-form .wpcf7-form-control-wrap input::placeholder,
form.wpcf7-form .wpcf7-form-control-wrap textarea::placeholder {
    color: #757575;
}
form.wpcf7-form .wpcf7-form-control-wrap input:hover,
form.wpcf7-form .wpcf7-form-control-wrap input:active,
form.wpcf7-form .wpcf7-form-control-wrap input:focus,
form.wpcf7-form .wpcf7-form-control-wrap input:focus-visible,
form.wpcf7-form .wpcf7-form-control-wrap textarea:hover,
form.wpcf7-form .wpcf7-form-control-wrap textarea:active,
form.wpcf7-form .wpcf7-form-control-wrap textarea:focus,
form.wpcf7-form .wpcf7-form-control-wrap textarea:focus-visible {
    border-color: #f89429;
}
form.wpcf7-form .wpcf7-form-control-wrap textarea {
    height: 150px;
}
form.wpcf7-form  > div.submit-block {
    margin-top: 5px;
}
form.wpcf7-form .wpcf7-submit {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--main-color-theme);
    width: 100%;
    max-width: 180px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
    border-radius: 5px;
    z-index: 1;
}
form.wpcf7-form .wpcf7-submit:hover {
    opacity: .7;
}
@media only screen and (max-width: 767px) {
    form.wpcf7-form .wpcf7[role="form"] {
        margin: 40px 0 20px;
    }
    form.wpcf7-form form.wpcf7-form > div.width-50 {
        width: 100%;
    }
    form.wpcf7-form .wpcf7-form-control-wrap {
        padding-left: 0;
        padding-right: 0;
    }
    form.wpcf7-form .wpcf7-submit {
        margin-left: 0;
        margin-right: 0;
    }
}