.service-item .wrap {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
    margin-bottom: 30px;
    background-color: #fff;
}
.service-item .featured-image {
    height: 300px;
    background-color: #edededcc;
}
.service-item .featured-image img {
    height: 100%;
    object-fit: cover;
}
.service-item .box-contain {
    position: absolute;
    left: 0px;
    top: 0px;
    width: calc(100% - 20px);
    height: calc(100% - 17.5px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: rgba(0,0,0,.7);
    transition: transform 0.6s ease;
    transform: scale(0, 1);
    transform-origin: right center;
}
body:not(.home) .site-main .service-item:hover .box-contain {
    transform: unset;
    transform-origin: unset;
    background-color: rgba(0,0,0,.5);
}
body:not(.home) .site-main .service-item:hover .box-contain,
.service-item:hover .box-contain {
    transform: scale(1, 1);
    transform-origin: left center;
}
.service-item .box-contain .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    height: 32px;
    margin-bottom: 15px;
}
.service-item .box-contain .title:hover {
    color: #f89429;
}
.service-item .box-contain .content {
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    height: 56px;
}
.service-item .box-contain .title,
.service-item .box-contain .content {
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .service-item .box-contain {
        transform: unset;
        transform-origin: unset;
        background-color: rgba(0,0,0,.5);
    }
}