.site-breadcrumbs {
    display: none!important;
}
.banner-advice {
    background-color: #f5f5f5;
}
.banner-advice .wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    row-gap: 10px;
    padding: 50px 10px 40px !important;
    box-sizing: border-box;
}
.banner-advice .advice-title {
    font-size: 42px;
    line-height: 1.19;
    font-weight: 700;
}
.banner-advice form.search-form {
    height: 56px;
}
.banner-advice form.search-form .search-field {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    font-size: 16px;
}
.banner-advice form.search-form .search-submit {
    width: 58px;
    height: 48px;
    background-color: var(--primary-btn-color);
    font-size: 16px;
    line-height: 1.5;
    position: absolute;
    right: 5px;
    border-radius: 4px;
}
.banner-advice form.search-form .search-submit:hover {
    background-color: var(--second-btn-color);
}
.main-contain.advice > .wrapper {
    padding: 0;
    margin: 0;
    max-width: 100%;
    background-color: #fff;
}