.blog-item {
    margin-bottom: 20px;
}
.blog-item a {
    color: #252531;
}
.blog-item .featured-image {
    height: 200px;
    background-color: #edededcc;
    overflow: hidden;
    transition: background-color .7s ease;
}
.blog-item:hover .featured-image {
    background-color: #252531;
}
.blog-item .featured-image img {
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transform: scale(1);
    transition: all .7s ease;
}
.blog-item:hover .featured-image img {
    transform: scale(1.1);
    opacity: .5;
}
.blog-item .box-contain {
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    padding: 20px 30px;
    background-color: #fff;
}
.blog-item .box-contain ul.meta {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 100%;
}
.blog-item .box-contain ul.meta::before,
.blog-item .box-contain ul.meta::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -30px;
    width: calc(100% + 60px);
    height: 1px;
    background-color: #e5e5e5;
}
.blog-item .box-contain ul.meta::after {
    top: unset;
    bottom: -10px;
}
.blog-item .box-contain ul.meta li {
    float: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #252531;
}
.blog-item .box-contain ul.meta li:not(:last-child) {
    margin-right: 15px;
}
.blog-item .box-contain ul.meta li i {
    margin-right: 5px;
    color: var(--main-color-theme);
    font-size: 14px;
}
.blog-item .box-contain .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    height: 24px;
}
.blog-item .box-contain .content {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    height: 100px;
    color: #898989;
}
.blog-item .box-contain .view {
    height: 30px;
}
.blog-item .box-contain .view a {
    display: inline-block;
    font-size: 13px;
    line-height: 26px;
    font-weight: 500;
    padding: 12.5px 40px;
    text-transform: uppercase;
    background-color: var(--main-color-theme);
    color: #fff;
    position: absolute;
    bottom: -30px;
}
.blog-item .box-contain .view a::after {
    content: '';
    border-color: #2a6187 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 8px 0 0;
    position: absolute;
    right: -7px;
    bottom: 0px;
    width: 0;
    height: 0;
}