.hotblog-item {
    cursor: pointer;
}
.hotblog-item .wrap {
    color: #fff;
    height: 100%;
}
.hotblog-item:not([data-index="1"]) .wrap {
    height: 250px;
}
.hotblog-item .wrap > a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(40%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.7)));
    z-index: 2;
}
.hotblog-item .wrap > a::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: .3;
    z-index: 1;
}
.hotblog-item .featured-image,
.hotblog-item .featured-image img {
    height: 100%;
}
.hotblog-item .featured-image {
    overflow: hidden;
}
.hotblog-item .featured-image img {
    object-fit: cover;
    transform: scale(1);
    transition: all .3s;
}
.hotblog-item:hover .featured-image img {
    transform: scale(1.2);
}
.hotblog-item .box-contain {
    position: absolute;
    bottom: 0;
    z-index: 3;
    padding: 20px;
    width: calc(100% - 40px);
}
.hotblog-item .box-contain ul.terms {
    margin-bottom: 10px;
}
.hotblog-item .box-contain ul.terms li {
    margin-right: 10px;
    margin-bottom: 5px;
}
.hotblog-item .box-contain ul.terms li a {
    color: #fff;
    background-color: var(--main-color-theme);
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}
.hotblog-item .box-contain .title {
    font-size: 27px;
    font-weight: 500;
    line-height: 36px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    height: 72px;
}
.hotblog-item .box-contain ul.meta {
    margin-top: 15px;
}
.hotblog-item .box-contain ul.meta li {
    float: left;
    margin-right: 7.5px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
}
.hotblog-item .box-contain ul.meta li:not(:last-child)::after {
    content: '-';
    color: #fff;
    margin-left: 7.5px;
}
.hotblog-item .box-contain ul.meta li.author {
    color: var(--main-color-theme);
    font-weight: 600;
}
@media only screen and (max-width: 767px) {
    .hotblog-item .box-contain .title {
        font-size: 18px;
    }
}