.gridblog-item .wrap {
    color: #fff;
}
.gridblog-item .wrap > a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(40%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.7)));
    z-index: 2;
}
.gridblog-item .wrap > a::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: .3;
    z-index: 1;
}
.gridblog-item .featured-image {
    height: 225px;
    overflow: hidden;
}
.gridblog-item .featured-image img {
    object-fit: cover;
    height: 100%;
}
.gridblog-item .box-contain {
    position: absolute;
    bottom: 0;
    z-index: 3;
    padding: 20px;
    width: calc(100% - 40px);
}
.gridblog-item .box-contain .title {
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    height: 52px;
}
.gridblog-item .box-contain ul.meta {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.gridblog-item .box-contain ul.meta li {
    margin-right: 7.5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #aaa;
    text-transform: capitalize;
}
.gridblog-item .box-contain ul.meta li:not(:last-child, .term)::after {
    content: '-';
    color: #fff;
    margin-left: 7.5px;
}
.gridblog-item .box-contain ul.meta li.term a {
    background-color: #fff;
    padding: 2.5px 10px;
    font-weight: 500;
}
.gridblog-item .box-contain ul.meta li.author {
    color: #fff;
    font-weight: 500;
}
@media only screen and (max-width: 767px) {
    .gridblog-item .box-contain ul.meta {
        display: block;
    }
}