
.blog-item-full {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.blog-item-full .box {
    box-shadow: unset;
    transition: all .7s;
}
.blog-item-full:hover .box {
    box-shadow: 0px 5px 83px 0px rgb(40 40 40 / 11%);
}
.blog-item-full .box::after {
    content: '';
    position: absolute;
    left: 40px;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #40b4dd;
    transition: all 300ms ease-in-out;
}
.blog-item-full:hover .box::after {
    width: calc(100% - 80px);
}
.blog-item-full a {
    color: #0ca0d3;
}
.blog-item-full .featured-image {
    height: 300px;
    background-color: #edededcc;
    overflow: hidden;
    border-radius: 10px;
}
.blog-item-full .featured-image img {
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.5s ease;
}
.blog-item-full .featured-image:hover img {
    transform: scale(1.1);
}
.blog-item-full .box-contain {
    padding-top: 15px;
    color: #000;
}
.blog-item-full .box-contain .wrap {
    padding: 20px 40px 30px;
    border-radius: 10px;
    background-color: #fff;
}
.blog-item-full .box-contain .meta {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3;
    color: #616161;
    margin-bottom: 5px;
}
.blog-item-full .box-contain .meta span:not(:last-child)::after {
    content: '-';
    margin-left: 5px;
}
.blog-item-full .box-contain .terms {
    margin-bottom: 5px;
    color: #fff;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 400;
    background-color: #40b4dd;
    position: absolute;
    top: -35px;
    padding: 7.5px 15px;
    border-radius: 10px;
}
.blog-item-full .box-contain .terms span:not(:last-child)::after {
    content: ',';
}
.blog-item-full .box-contain .title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    height: 60px;
}
.blog-item-full .box-contain .content {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    height: 100px;
    color: #8c8c8c;
}
.blog-item-full .box-contain .view {
    margin-top: 20px;
}
.blog-item-full .box-contain .view::after {
    content: '';
    width: 70px;
    height: 1px;
    background-color: #bfbfbf;
    position: absolute;
    top: 50%;
    margin-left: 15px;
}
.blog-item-full .box-contain .view a {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
}